/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 29, 2022, 11:31:23 PM
    Author     : ANHMINH
*/
@font-face {
  font-family: "icomoon";
  src: url(icomoon.woff);
}
 
.starwrap { display: flex; }
 
.star {
  font-family: "icomoon" !important;
  font-size: 24px; color: #d1d1d1;
  font-style: normal; font-weight: normal; font-variant: normal;
  text-transform: none; line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.star::before { content: "\e9d9"; }
.star.on { color: #ffe000; }
